$color_blue: #0066ff;
$color_light_blue: #4bb8ff;
$color_red: #FF2A42;
$color_teal: #91E8D9;
$color_light_grey: #767676;
$color_white: #ffffff;

body {
	font-family: 'Proxima Nova', "Helvetica Neue", Helvetica, Arial, sans-serif;
	@include desktop-up {
		font-size: 18px;
	}
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	font-weight: 700;
	font-family: 'Proxima Nova', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h3 {
	line-height: 1;
}

a {
	color: $color_blue;
}

b,
strong {
	font-weight: 500;
}

hr {
	border-bottom: 3px solid $color_light_blue;
	width: 90%;
	max-width: 80px;
	margin: 0 0 10px;
	@include desktop-up {
		border-bottom: 6px solid $color_light_blue;
	}
}

header {
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
	z-index: 1;
	@include desktop-up {
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

section {
	padding: 10px 0;
	position: relative;
	z-index: 1;
	@include desktop-up {
		padding: 30px 0;
	}
}

footer {
	margin-bottom: 20px;
	font-size: 14px;
	@include desktop-up {
		margin-bottom: 40px;
	}
}

::selection {
	background: $color_light_blue;
}

::-moz-selection {
	background: $color_light_blue;
}

.grid-container {
	padding-right: 20px;
	padding-left: 20px;
}

i.arrow {
	border: solid $color_blue;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 2px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	margin-left: 5px;
	vertical-align: middle;
	transition: all ease 0.5s;
}

.button.hollow {
	@include desktop-up {
		-webkit-transition: all ease 0.5s;
		-moz-transition: all ease 0.5s;
		transition: all ease 0.5s;
	}
	span {
		vertical-align: middle;
	}
	&.button-primary {
		border: 2px solid $color_blue;
		color: $color_blue;
		@include desktop-up {
			box-shadow: inset 0 0 0 0 $color_blue;
		}
		&:hover,
		&:focus {
			border-color: $color_blue;
			color: $color_blue;
			@include desktop-up {
				color: $color_white;
				box-shadow: inset 200px 0 0 0 $color_blue;
			}
			i.arrow {
				border-color: $color_blue;
				@include desktop-up {
					border-color: $color_white;
				}
			}
		}
	}
	&.button-alt {
		border: 2px solid $color_white;
		color: $color_white;
		@include desktop-up {
			box-shadow: inset 0 0 0 0 $color_white;
		}
		&:hover,
		&:focus {
			border-color: $color_white;
			color: $color_white;
			@include desktop-up {
				color: $color_blue;
				box-shadow: inset 200px 0 0 0 $color_white;
			}
			i.arrow {
				border-color: $color_white;
				@include desktop-up {
					border-color: $color_blue;
				}
			}
		}
		i.arrow {
			border-color: $color_white;
		}
	}
}

.left {
	@include desktop-up {
		float: left;
	}
}

.right {
	@include desktop-up {
		float: right;
	}
}

.intro {
	color: $color_white;
	background-color: $color_blue;
	margin-bottom: 20px;
	padding-bottom: 20px;
	position: relative;
	font-size: 16px;
	@include desktop-up {
		margin-bottom: 60px;
		padding-bottom: 50px;
		font-size: 20px;
		.button {
			font-size: 16px;
		}
	}
}

.bg-desktop,
.bg-mobile {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
}

.bg-mobile {
	display: block;
	@include desktop-up {
		display: none;
	}
}

.bg-desktop {
	display: none;
	@include desktop-up {
		display: block;
	}
}

.logo {
	width: 50px;
	height: auto;
}

.content-list {
	list-style: none;
	margin: 0;
	li {
		border-bottom: 1px solid $color_light_grey;
		margin-bottom: 1.25em;
		padding-bottom: 1.25em;
		&:last-child {
			border-bottom: none;
			margin-bottom: 0;
		}
	}
}

.content-left {
	@include desktop-up {
		padding-right: 20px;
	}
}

.content-left p,
.project-footer__link,
.project-footer__tags {
	font-size: 16px;
}

.content-left p {
	color: $color_light_grey;
}

.project-footer__tags {
	.label.secondary {
		background: transparent;
		border: 1px solid $color_light_grey;
		color: $color_light_grey;
	}
}