body {
	font-family: 'Proxima Nova', "Helvetica Neue", Helvetica, Arial, sans-serif;
	@include desktop-up {
		font-size: 18px;
	}
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	font-weight: 700;
	font-family: 'Proxima Nova', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h3 {
	line-height: 1;
}

a {
	color: #0066ff;
}

b,
strong {
	font-weight: 500;
}

hr {
	border-bottom: 3px solid #4bb8ff;
	width: 90%;
	max-width: 80px;
	margin: 0 0 10px;
	@include desktop-up {
		border-bottom: 6px solid #4bb8ff;
	}
}

header {
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
	z-index: 1;
	@include desktop-up {
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

section {
	padding: 10px 0;
	position: relative;
	z-index: 1;
	@include desktop-up {
		padding: 30px 0;
	}
}

footer {
	margin-bottom: 20px;
	font-size: 14px;
	@include desktop-up {
		margin-bottom: 40px;
	}
}
::selection {
  background: #4bb8ff;
}
::-moz-selection {
  background: #4bb8ff;
}
.grid-container {
	padding-right: 20px;
	padding-left: 20px;
}
i.arrow {
	border: solid #0066ff;
	border-width: 0 2px 2px 0;
	display: inline-block;
	padding: 2px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	margin-left: 5px;
	vertical-align: middle;
	transition: all ease 0.5s;
}

.button.hollow {
	border: 2px solid #0066ff;
	color: #0066ff;
	@include desktop-up {
		box-shadow: inset 0 0 0 0 #0066ff;
		-webkit-transition: all ease 0.5s;
		-moz-transition: all ease 0.5s;
		transition: all ease 0.5s;
	}
	span {
		vertical-align: middle;
	}
	&:hover,
	&:focus {
		border-color: #0066ff;
		color: #0066ff;
		@include desktop-up {
			color: white;
			box-shadow: inset 200px 0 0 0 #0066ff;
		}
		i.arrow {
			border-color: #0066ff;
			@include desktop-up {
				border-color: white;
			}
		}
	}
}

.left {
	@include desktop-up {
		float: left;
	}
}

.right {
	@include desktop-up {
		float: right;
	}
}

.intro {
	color: white;
	background-color: #0066ff;
	margin-bottom: 20px;
	padding-bottom: 20px;
	position: relative;
	font-size: 16px;
	@include desktop-up {
		margin-bottom: 60px;
		padding-bottom: 50px;
		font-size: 20px;
	}
}

.bg-desktop,
.bg-mobile {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
}

.bg-mobile {
	display: block;
	@include desktop-up {
		display: none;
	}
}

.bg-desktop {
	display: none;
	@include desktop-up {
		display: block;
	}
}

.logo {
	width: 50px;
	height: auto;
}

.content-list {
	list-style: none;
	margin: 0;
	li {
		border-bottom: 1px solid lightgray;
		margin-bottom: 1.25em;
		padding-bottom: 1.25em;
		&:last-child {
			border-bottom: none;
			margin-bottom: 0;
		}
		.button {
			//margin-top: 10px;
		}
	}
}

.content-left p, .project-footer__link,
.project-footer__tags {
	font-size: 16px;
}
.project-footer__tags {
	.label.secondary {
		background: transparent;
		border: 1px solid #767676;
    color: #767676;
	}
}